<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="admin.aid">
  <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/AdminHome',admin.aid]">INBANK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/AdminHome',admin.aid]">Home</a>
          </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-center">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/AApplicationDetails',admin.aid]">Application Details</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/AdminFaq',admin.aid]">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/AdminFaq',admin.aid]">FAQ</a>
              </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-end">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Logout
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/">Logout</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/UpdateAdminPassword',admin.aid]">Personal Details</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/UpdateAdminPassword',admin.aid]">Change Password</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>

<span *ngIf="admin.aid">
<br><br><br><br>
<div class="card" style="width: 600px; margin: auto; margin-top: 30px;">
    <h5 class="card-header" style="background-color:rgb(41, 120, 211) ;color: white;">Change Password</h5>
    <div class="card-body">
        <h5 class="card-title">Welcome Admin! Please Enter your Email,Previous Password and New Password</h5>
        <p class="card-text">its a good idea to use a strong password that u dont use elsewhere!</p>
        <form #ChangePAssFormAdmin=ngForm (ngSubmit)="Passchange()">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="cpassemail" #cpemail="ngModel" [(ngModel)]="ChangePassFormAdmin.adminemail" required>
          <div style="color: red;" class="error" *ngIf="cpemail.errors?.required && (cpemail.touched&&!cpemail.dirty)">This is a mandatory field!</div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password"  name="cpasspass" #cppass="ngModel" [(ngModel)]="ChangePassFormAdmin.adminoldpass" required>
          <div style="color: red;" class="error" *ngIf="cppass.errors?.required && (cppass.touched&&!cppass.dirty)">This is a mandatory field!</div>
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="newpass" #newpass="ngModel" [(ngModel)]="ChangePassFormAdmin.adminnewpass" required>
          <div style="color: red;" class="error" *ngIf="newpass.errors?.required && (newpass.touched&&!newpass.dirty)">This is a mandatory field!</div>
        </div>
        <div class="form-group">
            <label for="password"> Confirm New Password:</label>
            <input type="password" class="form-control" id="confirmnewpassword" placeholder=" Confirm New Password" name="confirmcpnewpass" #confirmnewpass="ngModel" [(ngModel)]="ChangePassFormAdmin.adminconfirmpass" PasswordValidator required>
          <div style="color: red;" class="error" *ngIf="confirmnewpass.errors?.required && (confirmnewpass.touched&&!confirmnewpass.dirty)">This is a mandatory field!</div>
          <span style="color: red;" *ngIf="confirmnewpass.invalid && confirmnewpass.touched">Password do not match! </span>
        </div>
        <hr>
        <div *ngIf="dis" class="mb-3 alert alert-danger" style="margin: 0 auto; text-align: center; font-size: 10px;color:red" role="alert">
            <p>{{msgdisplay}}</p>
        </div>
      <div *ngIf="success" class="mb-3 alert alert-success" style="margin: 0 auto; text-align: center; font-size: 10px; color: green;" role="alert">
        <p>{{successmsg}}</p>
        <button type="button" class="btn btn-primary" [routerLink]="['/AApplicationDetails',admin.aid]">OK</button>
    </div>

        <hr>
    <button type="submit" class="btn btn-primary" [disabled]="!ChangePAssFormAdmin.valid">Submit</button>
    <a style="float: right;"href="#" class="btn btn-danger" [routerLink]="['/AdminHome',admin.aid]">Cancel</a>
    </form>
    </div>
</div>
</span>

