<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user.cid">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/Home',user.cid]">INBANK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/Home',user.cid]">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/Faq',user.cid]">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/Faq',user.cid]">FAQ</a>
            </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/IncomeDetails',user.cid]">Apply for New Loan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/ApplicationDetails',user.cid]">Application Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/EMICalculator',user.cid]">EMI Calculator</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Logout
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/">Logout</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/UpdateUserPassword',user.cid]">Personal Details</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/UpdateUserPassword',user.cid]">Change Password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<span *ngIf="application.cid">

<div>
    <div class="row mt-5" >
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Application Details</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Your Previous Application Details are as Displayed Here.</h6>
                    <h6 class="card-subtitle mb-2 text-muted">If you want to Apply for new Application click on Apply for Loan</h6>
                    <hr>
                    <div class="row">
                        <h2 class="col"><a class="btn btn-md text-white btn-success" (click)=ViewDetails()><i class="fas fa-arrow-left"></i> View Previous Details</a></h2>
                        <h2 class="col"><a class="btn btn-md text-white btn-primary" [routerLink]="['/IncomeDetails',user.cid]"><i class="fas fa-plus-square"></i> Apply For New Loan</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div *ngIf="iflag">

<div class="container">
    <span *ngFor="let u of users">
    <span *ngIf="user.cid==u.cid">
    <span *ngFor="let d of documents">
    <span *ngIf="document.cid==d.cid">
    <span *ngFor="let a of applications">
    <table class="table table-bordered table-striped">
        <thead class="table-light d-print-none" *ngIf="application.cid==a.cid && tflag">
            <tr>
            <th>Application No</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Check Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="application.cid==a.cid">
                <td>{{a.applicationNumber}}</td>
                <td>{{u.firstName }} {{ u.middleName }} {{ u.lastName }}</td>
                <td>{{ u.phoneNumber }}</td>
                <td><button type="submit" class="offset-2 btn btn-outline-primary col-8" [routerLink]="['/TrackLoan',a.cid,a.inId,a.prId,a.lId,d.dId,a.applicationNumber]" >View Details</button></td>
            </tr>
        </tbody>
    </table>
    </span>
    </span>
    </span>
    </span>
    </span>
</div> 

</div>
<br><br><br><br>

</span>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!user.cid">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">INBANK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/IncomeDetails">Apply for New Loan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/EMICalculator">EMI Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/Faq">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/Faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/AdminLogin">Admin Here!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/RegisterUser">Register</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<span *ngIf="!application.cid">
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-4">Please Login Or Register!</h1>
        <p class="lead">Apply for Home Loan at best interest rate ever and give your family a Gift with Real Happiness</p>
        <hr class="my-4">
        <p>Your Tust Matters to us a LOT! because we are the one to give you a More Better Living Don't we?
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
</span>




<!--

                <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td><button type="submit" class="offset-2 btn btn-outline-primary col-8" [routerLink]="['/IncomeDetails']" [queryParams]="{ cid:1006 }">View Details</button></td>
            </tr>
            <tr>
                <td>data</td>
                <td>data</td>
                <td >data</td>
                <td><button type="submit" class="offset-2 btn btn-outline-primary col-8" [routerLink]="['/IncomeDetails/1009', {'showTour':'show', skipLocationChange: true}]">View Details</button></td>
            </tr>
-->